/* colors 
dark purple button - 351c75
light purple background - d9d3e9
pinkish selected button and view high scores text color - bd60e7
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 * {
    font-family: 'Roboto', sans-serif;
 }
 header {
     display: flex;
     justify-content:space-between;
 }
 header a {
     color: #bd60e7;
     margin: auto 0;
     text-decoration: none;
     padding-left: 20px;
     font-size: 2em;
 }
 header p {
    font-size: 2em;
    padding-right: 20px;
 }
.start-btn {
   padding: 18px 40px;
   color:white;
   background-color:#351c75;
   font-size:2.5em;
   border-radius: 20px;
   transition-duration: .5s;
}
 .start-btn:hover {
     background-color:#bd60e7;
 }
 
 .intro-container {
     text-align:center;
 }
.title {
    font-size:4em;
}
.subtitle {
    font-size:2.5em;
}
.intro-sub {
    padding: 0 17%;
}
.quiz-container {
    padding: 0 20%;
}
.question {
    font-size:4em;
}
.answer-btn {
    display:block;
    margin: 10px 0;
    text-align: left;
    padding: 10px;
    width:400px;
    color:white;
    background-color:#351c75;
    font-size:2.2em;
    border-radius: 12px;
    transition-duration: .5s;
}
.answer-btn:hover {
    background-color:#bd60e7;
}
.result-msg {
    color:darkgray;
    border-top:3px solid darkgray;
    font-style:italic;
    padding-top: 10px;
    font-size:2.5em;
}
.end-container {
    margin: 0 10%;
}
.end-title {
    font-size:4em;
}
.end-sub {
    font-size:2.5em;
}
form{
    display:flex;
}
input {
    width: 400px;
    margin: 0 10px;
}
.initials-btn {
    padding: 10px 20px;
    color:white;
    background-color:#351c75;
    font-size:2em;
    border-radius: 12px;
    transition-duration: .5s;
 }
  .initials-btn:hover {
      background-color:#bd60e7;
  }
  .high-scores-container {
      padding: 0 30%;
  }
  .high-scores-title {
    font-size:4em;
}
.high-score {
    font-size:2.5em;
}
  .scores-ol {
      background-color:#d9d3e9;
  }
  .scores-btn {
    padding: 10px 20px;
    color:white;
    background-color:#351c75;
    font-size:2em;
    border-radius: 12px;
    transition-duration: .5s;
 }
  .scores-btn:hover {
      background-color:#bd60e7;
  }
  
  @media screen and (max-width: 1050px) {
      .question {
          font-size: 3em;
      }
      .answer-btn {
        width: 100%;
        font-size: 2em;
    }
    .end-container {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .end-title {
        font-size:2.5em;
    }
    .end-sub {
        font-size:2em;
    }
    input {
        width: 200px;
        margin: 0 5px;
    }
    .initials-btn {
        padding: 5px 10px;
        font-size:1.5em;
     }
     .high-scores-container {
        padding: 0 20%;
    }
     .high-scores-title {
        font-size:3em;
    }
    .high-score {
        font-size:1.8em;
    }
    .scores-btn {
        padding: 4px 8px;
        font-size:1.8em;
     }  
  }
  @media screen and (max-width: 660px) {
    header a {
        font-size: 1.5em;
    }
    header p {
        font-size: 1.5em;
    }
    .title {
      font-size:3em;
  }
  .subtitle {
      font-size:2em;
  }
  .start-btn {
      padding: 9px 20px;
      font-size:2em;
   }
   .quiz-container {
    padding: 0 10px;
   }
   .question {
       font-size: 2.5em;
   }
   .high-scores-container {
    padding: 0 15%;
}
 .high-scores-title {
    font-size:2.5em;
}
.high-score {
    font-size:1.4em;
}
.scores-btn {
    padding: 2px 4px;
    font-size:1.4em;
 }
}
@media screen and (max-width: 540px) {
    .end-container {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        text-align:center;
    }
    .end-title {
        font-size:2em;
    }
    .end-sub {
        font-size:1.5em;
    }
    form {
        display:flex;
        flex-direction: column;
    }
    input {
        width: 100%;
        margin: 0 2.5px;
    }
    .initials-btn {
        margin-top:3px;
        padding: 2px 5px;
        font-size:1.5em;
     } 
}

@media screen and (max-width: 500px) {
    .title {
        font-size:2.3em;
    }
    .subtitle {
        font-size:1.7em;
    }
    .start-btn {
        padding: 2px 8px;
        font-size:1.5em;
     }
     
    .answer-btn {
        font-size: 1.25em;
    }
     
}

@media screen and (max-width: 386px) {
    header {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    header a {
        
        margin: 0;
        padding: 0;
    }
    header p {
        margin: 0;
        padding-top: 10px;
    }
    .title {
        font-size:1.8em;
    }
    .subtitle {
        font-size:1.2em;
    }
    .start-btn {
        padding: 2px 8px;
        font-size:1.3em;
     }
     .question {
        font-size: 2em;
    }
    .answer-btn {
        font-size: 1em;
    }
    .end-title {
        font-size:1.5em;
    }
    .end-sub {
        font-size:1.1em;
    }
    .high-scores-container {
        padding: 0 5px;
    }
     .high-scores-title {
        font-size:2em;
    }
    .high-score {
        font-size:1.1em;
    }
    .scores-btn {
        padding: 2px 4px;
        font-size:1.1em;
     }
}